*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */

a{
    color: #656565;
    padding-right: 20px;
    text-decoration: none;
}

h1{
    font-size: 70px;
    padding-top: 80px;
    font-weight: 900;
}

p{
    margin-bottom: 20px;
}


/* header */

/* nav */
.nav-header{
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.left-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.right-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#logo{
    max-height: 18px;
    margin-right: 20px;
}

.start{
    background-color: #0161ff;
    color: white;
    padding: 5px 12px
}

/* div header */


.bg-lightblue{
    background-color: #b4d0e7;
    max-height: 550px;
}

.content-hd{
    margin-top: 20px;
}

.img-hd{
    max-height: 350px;
}

.fa-arrow-down{
    color: black;
    position: absolute;
    bottom: 80px;
    left: 0;

}





/* utils */

.big-container{
    max-width: 900px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.mg-t-small{
    margin-top: 20px;
}
.mg-b-small{
    margin-bottom: 30px;
}

.link-start{
    background-color: #0161ff;
    color: #b9e5ff;
    padding: 8px 16px;
}

.relative{
    position: relative;
}
