*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sars", sans-serif;
}


/* generics */



h1{
    font-size: 70px;
    padding-top: 80px;
    font-weight: 900;
}

p{
    margin-bottom: 20px;
}

h2{
    font-size: 35px;
}

h3{
    margin-bottom: 20px;
}


/* header */

/* nav */
.nav-header{
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.color-lightgray{
    color: #656565;
    padding-right: 20px;
    text-decoration: none;
}

.left-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.right-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#logo{
    max-height: 18px;
    margin-right: 20px;
}

.start{
    background-color: #0161ff;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
}
ul{
    margin-bottom: 50px;
    list-style-type: none;
}
li{
    margin-bottom: 10px;
    font-size: 10px;
}
.fa-solid{
    padding-right: 5px;
}

.fa-check{
    color: #0b6fff;
}

/* div header */


.bg-lightblue{
    background-color: #b4d0e7;
    max-height: 550px;
}

.content-hd{
    margin-top: 20px;
}

.img-hd{
    max-height: 350px;
}

.fa-arrow-down{
    color: black;
    position: absolute;
    bottom: 80px;
    left: 0;

}

/* main */

/* card */

.card{
    position: relative;
}
.row{
    flex-wrap: wrap;
    gap: 60px;
}
.col{
    flex-basis: calc((100% / 3) - (120px / 3));
    border: 1px solid #656565 ;
}
.col-max{
    flex-grow: 1;
    border: 1px solid #656565 ;

}
.who-card{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.border-card{
    border: 1px solid #656565;
    margin-bottom: 20px;
}

.border-card-small{
    border: 1px solid #656565; 
    width: 20px;
}

.container-card{
    max-width: 200px;
    margin: 0 auto;
}
.container-card-col-max{
    max-width: 500px;
    margin-left: 12.33px;
}

.price{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.time{
    margin-bottom: 50px;
    font-size: 11px;
    color: #656565;
}

.absolute-card{
    position: absolute;
    top: 50px;
    right: 25px;
}

/* contact-us */

.contact-us{
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.right{
    flex-basis: 30%;
}

.left{
    flex-basis: 60%;
}

.img-contact-us{
    display: block;
    max-width: 100%;
}

.search-partner{
    color: #656565;
    text-decoration: none;
    background-color: white;
    border: 1px solid #656565;
    padding: 5px 10px;
    text-align: center;
}

/* more operations with business*/
.p-card{
    font-size: 12px;
    color: #656565;
}

/* utils */

.big-container{
    max-width: 900px;
    margin: 0 auto;
}

.small-container{
    max-width: 800px;
    margin: 200px auto;
}

.flex{
    display: flex;
}

.font-s{
    font-size: 14px;
    color: #656565;
}
.mg-t-small{
    margin-top: 20px;
}

.mg-t-med{
    margin-top: 40px;
}

.mg-t-big{
    margin-top: 60px;
}

.mg-t-bigger{
    margin-top: 150px;
}

.mg-b-small{
    margin-bottom: 30px;
}

.mg-b-med{
    margin-bottom: 60px;
}
.pd-lft-med{
    padding-left: 50px;
}
.link-start{
    background-color: #0161ff;
    color: #b9e5ff;
    padding: 8px 16px;
    text-decoration: none;
}
.link-contattaci{
    background-color: #0161ff;
    color: #b9e5ff;
    padding: 8px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    
}

.block{
    display: block;
    text-align: center;
}

.relative{
    position: relative;
}

.font-med{
    font-size: 14px;
}

.font-small

.no-border{
    border: none;
}
