*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sars", sans-serif;
}


/* generics */



h1{
    font-size: 70px;
    padding-top: 80px;
    font-weight: 900;
}

p{
    margin-bottom: 20px;
}

h2{
    font-size: 35px;
}

h3{
    margin-bottom: 20px;
}

address{
    font-style: normal;
}

/* header */

/* nav */
.nav-header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.color-lightgray{
    color: #656565;
    padding-right: 20px;
    text-decoration: none;
}

.left-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.right-hd{
    display: flex;
    font-size: 14px;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#logo{
    max-height: 18px;
    margin-right: 20px;
}

.start{
    background-color: #0161ff;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
}
ul{
    margin-bottom: 50px;
    list-style-type: none;
}
li{
    margin-bottom: 10px;
    font-size: 10px;
}
.fa-solid{
    padding-right: 5px;
}

.fa-check{
    color: #0b6fff;
}

/* div header */


.bg-lightblue{
    background-color: #b4d0e7;
    max-height: 550px;
}

.content-hd{
    margin-top: 20px;
}

.img-hd{
    max-height: 350px;
}

.fa-arrow-down{
    color: black;
    position: absolute;
    bottom: 80px;
    left: 0;

}

/* main */

/* card */

.card{
    position: relative;
}
.row{
    flex-wrap: wrap;
    gap: 60px;
}
.col{
    flex-basis: calc((100% / 3) - (120px / 3));
    border: 1px solid #656565 ;
}
.col-max{
    flex-grow: 1;
    border: 1px solid #656565 ;

}
.who-card{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.border-card{
    border: 1px solid #656565;
}

.border-card-small{
    border: 1px solid #656565; 
    width: 20px;
}

.container-card{
    max-width: 200px;
    margin: 0 auto;
}
.container-card-col-max{
    max-width: 500px;
    margin-left: 12.33px;
}

.price{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.time{
    margin-bottom: 50px;
    font-size: 11px;
    color: #656565;
}

.absolute-card{
    position: absolute;
    top: 50px;
    right: 25px;
}


/* contact-us */

.contact-us{
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.right{
    flex-basis: 30%;
}

.left{
    flex-basis: 60%;
}

.img-contact-us{
    display: block;
    max-width: 100%;
}

.search-partner{
    color: #656565;
    text-decoration: none;
    background-color: white;
    border: 1px solid #656565;
    padding: 5px 10px;
    text-align: center;
}

/* more operations with business*/
.p-card{
    font-size: 12px;
    color: #656565;
}

/* flex-img */
.total-row{
    flex-wrap: wrap;
}

.row-img{
    flex-wrap: wrap;
}

.col-nogap{
    flex-basis: calc(100% / 3);
}

.col-2{
    flex-basis: calc(100% / 2);
    border: 10px solid transparent;
}
/* bonus */
.col-2:hover{
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.img-col-2{
    display: block;
    max-width: 60%;
    margin: 0 auto;
    filter: invert(100%);
}
.card-img{
    height: 200px;
}
.img-clear-challenge{
    display: block;
    width: 60%;
    margin: 0 auto;
    filter: invert(100%);

}

.container-card-img{
    max-width: 90%;
    margin: 42px auto;
}

.img-designit{
    display: block;
    height: 60px;
}

.center-y{
    height: 250px;
    align-items: center;
}

.absolute-search{
    position: absolute;
    top: 90px;
    right: 0;
}

/* footer */

/* bonus */
.hidden {
    display: none;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked ~ .hidden {
    display: block;
}

.col-footer{
    flex-basis: calc(100% / 5);
    margin-top: 30px;
}


/* utils */

.big-container{
    max-width: 900px;
    margin: 0 auto;
}

.small-container{
    max-width: 800px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.font-s{
    font-size: 14px;
    color: #656565;
}

.font-m{
    font-size: 16px;
}
.mg-t-small{
    margin-top: 20px;
}

.mg-t-med{
    margin-top: 40px;
}

.mg-t-big{
    margin-top: 60px;
}

.mg-t-bigger{
    margin-top: 150px;
}
.mg-b-xs{
    margin-bottom: 20px;
}

.mg-b-small{
    margin-bottom: 30px;
}

.mg-b-med{
    margin-bottom: 60px;
}
.mg-b-bigger{
    margin-bottom: 150px;
}

.pd-lft-med{
    padding-left: 50px;
}
.link-start{
    background-color: #0161ff;
    color: #b9e5ff;
    padding: 8px 16px;
    text-decoration: none;
}
.link-contattaci{
    background-color: #0161ff;
    color: #b9e5ff;
    padding: 8px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    
}

.col.no-border{
    border: none;
}
.block{
    display: block;
    text-align: center;
}

.relative{
    position: relative;
}

.font-med{
    font-size: 14px;
}

.font-small{
    font-size: 10px;
}

.bg-light-green{
    background-color: lightgreen;
}

.bg-purple{
    background-color: #60092b;
}

.bg-cobalt{
    background-color: #0093ce;
}

.bg-light-red{
    background-color: #ff1d1c;
}

.bg-dark-red{
    background-color: #d5011f;
}

.bg-light-cobalt{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: darkblue;
}

.bg-dark-yellow{
    background-color:#ffd82f;
}


.bg-light-light-gray{
    background-color: #f5f5f5;
}

.bg-black{
    background-color: black;
    height: 400px;
}



.border-card-med{
    border: 1px solid #656565 ;
    width: 20%;
}

.border-footer{
    border: 1px solid #656565;
    width: 80px;
}

.font-purple{
    color: #60092b;
}

.height-250{
    min-height: 250px;
}

.absolute-center{
    position: absolute;
    top: 0;
    right: 0;
}

.color-white{
    color: white;
}

.color-black{
    color: black;
}

.a-footer{
    color: white;
    text-decoration: none;
}

.color-656565{
    color: #656565;
}